@model IEnumerable<VehicleRegistration.Models.VehicleTypes>

@{
    ViewData["Title"] = "VehicleTypes";
}

<h1>VehicleTypes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
